*.so*
*.o*
.DS_Store

*_data
*_data_*
a.out
*.npy
*.mexmaci64
*.m~
*.pickle
*.pyc
*.swp

/*.egg-info/
/build/
/tmp/
/dist/
/data/
/selenium/


.ipynb_checkpoints/
*/.ipynb_checkpoints/

/py_only_docs/
/docs/_build/

/.vscode/
/_vscode/
/cookbook/notebooks/.ipynb_checkpoints/

__pycache__
/.eggs/
*.egg-info/

.coverage
.pytest_cache
/htmlcov/

/venv/
.venv/

config.ini

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtualenv
venv/*
.venv/
.env 

# Jupyter Notebook
.ipynb_checkpoints
.jupyter/
.jupyter_data/
.jupyter_runtime/
.jupyterlab/